# App
APP_API_URL=http://localhost:3333
APP_WEB_URL=http://localhost:3000

# JWT Secret
JWT_ACCESS_TOKEN_SECRET=topsecretpassword
JWT_ACCESS_TOKEN_EXPIRATION_TIME=30h
JWT_REFRESH_TOKEN_SECRET=topsecretpassword
JWT_REFRESH_TOKEN_EXPIRATION_TIME=30d
PATH_REFRESH_TOKEN=/auth/refresh
HTTP_SECURE=false

# Database
MONGO_URI=mongodb://localhost:27017/ecommerce

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=admin
DB_NAME=ecommerce

# Storage
STORAGE_DRIVER=disk

# Mail Service
MAIL_DRIVER=ethereal

# Mail
MAIL_HOST=smtp.ethereal.email
MAIL_USER=norene.wisozk16@ethereal.email
MAIL_PASS=GPU7ZuYsqtF9D48GkM
MAIL_FROM=equipe@gobarber.com.br
MAIL_EXPIRATION_HOURS=2

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=

# Throttle
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# Redis
REDIS_URL=redis://localhost:6379

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=